@model FantasyEuroleague.ViewModels.PlayerFormViewModel

@{
    ViewBag.Title = "PlayerForm";
}

<h2>New Player</h2>
@using (Html.BeginForm("Save", "Player"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(p => p.Firstname)
        @Html.TextBoxFor(p => p.Firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Firstname)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Lastname)
        @Html.TextBoxFor(p => p.Lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Lastname)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Profile.Country)
        @Html.DropDownListFor(p => p.Profile.Country, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Profile.Country)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Profile.Position)
        @Html.EnumDropDownListFor(p => p.Profile.Position, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Profile.Position)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.TeamID)
        @Html.DropDownListFor(p => p.TeamID, new SelectList(Model.Teams, "ID", "Name"), "--Choose Team--", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.TeamID)
    </div>

    @Html.HiddenFor(pl => pl.Id)
    <button id="newPlayer" type="submit" class="btn btn-primary">Save</button>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            let dropdownNations = $("#Profile_Country");

            // Trying to fix dropdown in edit mode
            //let index = 0;

            //if ($('#Id').val() == 0) {
            //    console.log("In Create!");
            //    index = 0;
            //} else {
            //    console.log("In Update!");
            //    index = 15;
            //}
            // Trying to fix dropdown in edit mode

            // Temp
            //dropdownNations.empty();

            dropdownNations.append('<option selected="true" disabled>--Choose Nationality--</option>');
            //dropdownNations.prop('selectedIndex', index);     
            //console.log(index);
            //Temp
            
            // Load the external API
            const url = 'https://restcountries.eu/rest/v2/all'

            // Populate DropDownList Of Nationalities with Countries 3letter_code (alpha3Code)
            $.getJSON(url, function (data) {
                $.each(data, function (key, entry) {
                    dropdownNations.append($('<option></option>').attr('value', entry.alpha3Code).text(entry.name));
                });
            });

            //Register a Player and his Profile at the same time
            let viewModel = { Profile: {} };

            $("#newPlayer").click(function (e) {
                e.preventDefault();

                viewModel.ID = $('#Id').val();
                viewModel.Firstname = $('#Firstname').val();
                viewModel.Lastname = $('#Lastname').val();
                viewModel.Profile.Country = $('#Profile_Country').val();
                viewModel.Profile.Position = $('#Profile_Position').val();
                viewModel.TeamID = $('#TeamID').val();

                // Create Player
                if ($('#Id').val() === 0) {
                    $.ajax({
                        url: "/api/players",
                        method: "post",
                        data: viewModel
                    })
                        .done(function () {
                            toastr.success("A new player has been added!")
                        })
                        .fail(function () {
                            toastr.error("Something went really bad!")
                        });

                // Update Player
                } else {
                    $.ajax({
                        url: "/api/players/" + $('#Id').val(),
                        method: "put",
                        data: viewModel
                    })

                        .done(function () {
                            toastr.success("This player has been updated successfully!")
                        })
                        .fail(function () {
                            toastr.error("Something went really bad!")
                        });
                }
            });
        });
    </script>
}

